<!DOCTYPE html >
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, heigh=device-height, initial-scale=1">
		
		<title>홈 화면</title>

		<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/
		bootstrap.min.css"> <!-- load bootstrap css -->
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/
    	font-awesome.min.css"> <!-- load fontawesome -->		
		
		<style>
			body { padding-top:80px; }
			
			@font-face {
				font-family: 'Nanum Gothic'; font-style: normal; font-weight: 400;
				src: url('../public/NanumGothic-Regular.eot');
				src: local('NanumGothic'),
					url('../public/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
					url('../public/NanumGothic-Regular.woff2') format('woff2'),
					url('../public/NanumGothic-Regular.woff') format('woff'),
					url('../public/NanumGothic-Regular.ttf') format('truetype');			
			}
			
			h1, p, a { font-family: 'Nanum Gothic' }
		</style>
		
	</head>

	<body>
		<div class="container">
			<div class="jumbotron text-center">
				<h1><span class="fa fa-shopping-cart"></span> 운동일지 홈 </h1>
				<br>
				<p>일지를 기록하세요 </p>

			</div>
		
		</div>
	
	</body>

</html>